@import "mixins";

/***************************
******** BASE STYLES *******
***************************/
header {
  background-color: $blue-color;
}

.logo {
  color: $light-color;
  font-family: $logo-font;
}

form {
  .search-field input {
    background-color: white;
  }
}
main {
  background-color: $light-color;
}
.content-section {
  h3,
  h4 {
    margin: 0.25em 0;
  }
  img {
    margin-bottom: 2em;
  }
}
