@import "variables";

@mixin border-radius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  -ms-border-radius: $size;
  border-radius: $size;
}

// Flex mixins
@mixin flex-display {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

//Screen Sizes

@mixin xs-screen-only {
  @media only screen and (max-width: $x-small) {
    @content;
  }
}
@mixin small-screen-and-below {
  @media only screen and (max-width: $small) {
    @content;
  }
}
@mixin small-screen-and-above {
  @media only screen and (min-width: $small) {
    @content;
  }
}
@mixin medium-screen-and-below {
  @media only screen and (max-width: $medium) {
    @content;
  }
}
@mixin medium-screen-and-above {
  @media only screen and (min-width: $medium) {
    @content;
  }
}

@mixin large-screen-only {
  @media only screen and (min-width: $medium) {
    @content;
  }
}
