@import "variables";
@import "mixins";

/*************************************
*********  NAVIGATION ****************
*************************************/

@include small-screen-and-below {
  .nav-links {
    display: none;
  }
  .hamburger {
    position: absolute;
    z-index: 3;
    right: 1em;
    top: 1em;

    .line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background-color: $light-color;
      @include easeOut;
    }

    &.close {
      transform: rotate(180deg);

      .line {
        //Line 1 and 3 rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(10px, 2px);
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(5px, 5px);
        }
        // Hide line 2
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
@include small-screen-and-above {
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        color: $light-color;
        display: inline-block;
        padding: 0 2em;
      }
    }
  }
}
