@import "variables";
@import "mixins";

/*************************************
*********  NAVIGATION ****************
*************************************/

@include small-screen-and-below {
  nav {
    ul {
      display: none;
    }
  }
  .line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    color: $light-color;
    z-index: 2;
  }
}

@include small-screen-and-above {
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        color: $light-color;
        display: inline-block;
        padding: 0 2em;
      }
    }
  }
}
